Source: libsomadspio0
Priority: extra
Maintainer: Stuart Layton <slayton@mit.edu>
Build-Depends: debhelper (>= 7), cmake, cdbs, 
                libboost-thread1.37-dev, libboost-test1.37-dev, libboost-program-options1.37-dev,
                libboost1.37-dev, libboost-filesystem1.37-dev, libboost-system1.37-dev, libgtkmm-2.4-dev,
                libglibmm-2.4-dev, libsigc++-2.0-dev 
Standards-Version: 3.8.0
Section: libs
Homepage: http://soma.mit.edu/

Package: libsomadspio-dev
Section: libdevel
Architecture: any
Depends: libsomadspio0, ${misc:Depends}, ${shlibs:Depends}, libboost-thread1.37-dev, libboost-test1.37-dev, 
                libboost-program-options1.37-dev, libboost1.37-dev, libboost-filesystem1.37-dev, 
                libboost-system1.37-dev, libgtkmm-2.4-dev, libglibmm-2.4-dev, libsigc++-2.0-dev
Description: Headers for Soma DSP communication
 This is the IO library for handling events within the 
 DSPboard and communication with it. 
 This library by-and-large just handles event parsing and unparsing. 

Package: libsomadspio0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to communicate with the Soma DSP boards
 This is the IO library for handling events within the
 DSPboard and communication with it.
 This library by-and-large just handles event parsing and unparsing.


